# === FRONTEND ===
/frontend/node_modules
/frontend/dist
/frontend/.angular
/frontend/.vscode
/frontend/tmp
/frontend/out-tsc

# === BACKEND ===
/backend/target
/backend/.idea
/backend/.vscode
/backend/.mvn
/backend/build
